@model IEnumerable<webappPrueba.Models.PersonasFisicasCompleto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Administrador de Personas Fisicas</h1>
        </div>
        @{
            string mensaje = "";
            if (ViewData["resultado"] != null)
            {
                switch (ViewData["resultado"])
                {
                    case 1:
                        mensaje = "Creado correctamente";
                        <div class="not-correcto">@mensaje</div>
                        break;
                    case 2:
                        mensaje = "Actualizado correctamente";
                        <div class="not-correcto">@mensaje</div>
                        break;
                    case 3:
                        mensaje = "Eliminado correctamente";
                        <div class="not-correcto">@mensaje</div>
                        break;
                    case 4:
                        mensaje = ViewBag.Errores;
                        <div class="not-error">@mensaje</div>
                        break;
                    default:
                        break;
                }
            }
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="/Admin/Crear">Nuevo Registro</a>
        </div>
        <div class="col-xs-12">
            <h2>Personas Fisicas</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha de registro</th>
                        <th>Fecha de actualización</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>RFC</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Usuario Agrega</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var PersonaFisica in ViewData["PersonasFisicas"] as IEnumerable<webappPrueba.Models.PersonasFisicasCompleto>)
                    {
                        <tr>
                            <td>@PersonaFisica.id</td>
                            <td>@PersonaFisica.fechaRegistro</td>
                            <td>@PersonaFisica.fechaActualizacion</td>
                            <td>@PersonaFisica.nombre</td>
                            <td>@PersonaFisica.apellidoPaterno</td>
                            <td>@PersonaFisica.apellidoMaterno</td>
                            <td>@PersonaFisica.rfc</td>
                            <td>@PersonaFisica.fechaNacimiento</td>
                            <td>@PersonaFisica.usuarioAgrega</td>
                            <td>@PersonaFisica.activo</td>
                            <td>
                                <form method="POST" action="/Admin/Eliminar">
                                    <input type="hidden" name="id" value="@PersonaFisica.id" />
                                    <input class="btn btn-danger btn-eliminar" type="submit" value="Eliminar" />
                                </form>

                                <a class="btn btn-primary btn-actualizar" href="/Admin/Actualizar?id=@PersonaFisica.id">Actualizar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>