@{
    bool auth = false;
    if (Session["user"] != null)
    {
        auth = true;
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Prueba</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/estilos.css">
    <link rel="stylesheet" href="~/Content/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/buttons.dataTables.min.css" />
</head>
<body>
    <nav class="p-nav">
        <a href="/" class="enlace">Inicio</a>
        @{
            if (auth)
            {
                <a href="/Admin" class="enlace">Administrar</a>
                <a href="/Auth/Logout" class="enlace">Cerrar Sesion</a>
            }
            else
            {
                <a href="/Auth/Login" class="enlace">Iniciar Sesion</a>
            }
        }
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/tabla.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
