@{
    bool auth = false;
    if (Session["user"] != null)
    {
        auth = true;
    }
}


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Prueba</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <nav class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Inicio</a>
                    </li>
                    @{
                        if (auth)
                        {
                            <li class="nav-item">
                                <a href="/Admin" class="nav-link">Administrar</a>
                                <a href="/Auth/Logout" class="nav-link">Cerrar Sesion</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/Auth/Login" class="nav-link">Iniciar Sesion</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
